.popup{
    transition: 0.15s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}