.header__openpopup{
    border: none;
    color: white;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    padding: 12px 5px;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 15px;
    z-index: 1;
    max-width: 136px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header__openpopup:hover {
    background-color: #5c4242;
}

.header__openpopup:active{
    transition: .1s;
    background-color: #c58484;
    padding-top: 10.1px;
    padding-bottom: 14px;
}