.popup__button-close{
    transform: translate(0px, 3px);
    background-image: url(../../../image/CloseIcon.svg);
    width: 58px;
    height: 58px;
    background-color: #ffe4c400;
    border-width: 0px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    cursor: pointer;
    margin: 2px;
}

.popup__button-close:active {
    margin-top: 0px;
}