.gallery-tmplt__button-dislike {
    background-image: url(../../../image/dislike-off.svg);
    background-color: inherit;
    background-repeat: no-repeat;
    width: 35px;
    height: 25px;
    border: none;
    margin-top: 9px;
}