.popup__button-submit{
    color: #242424;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    max-width: 150px;
    border-width: 0px;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    cursor: pointer;
}

.popup__button-submit:hover {
    color: white;
    background-color: #5c4242;
    transition: .3s;
}

.popup__button-submit:active {
    transition: .1s;
    background-color: #c58484;
    padding-bottom: 6px;
}

